<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      {{yield}}
    </div>
    {{#unless hideActions}}
      <a href="#" {{action 'ok'}}>
        <i class='ion-checkmark-round'></i>
      </a>
    {{/unless}}
  </div>
</div>
