<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      {{yield}}
    </div>
    <a href="#" {{action 'ok'}}>
      <i class='ion-checkmark-round'></i>
    </a>
  </div>
</div>
