@import '../../bower_components/bootstrap/less/bootstrap';

@brand-primary: #d6ac79;
@navbar-default-bg: transparent;
@navbar-default-link-color: @brand-primary;
@navbar-default-link-hover-color: white;
@navbar-default-link-active-color: #fff;
@navbar-padding-vertical: 15px;
@body-bg: black;
@navbar-height: 90px;
@modal-content-bg: transparent;
@modal-content-border-color: transparent;
@modal-backdrop-opacity: 0.75;

@import 'animations';
@import 'sprh-bulb';

body {
  padding-top: @navbar-height;
}

.modal, .modal-dialog, .modal-header, .modal-footer, .modal-content {
  border: none;
  box-shadow: none;
}

.modal {
  h4 {
    font-size: 42px;
    color: @brand-primary;
  }

  .modal-btn {
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    border: 2px solid @brand-primary;
    color: @brand-primary;
    display: inline-block;
    font-size: 2.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    transition: all 0.4s;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}

.navbar.navbar-default {
  border: none;
  li {
    a {
      transition: all 0.5s;
      font-size: 30px;
      .circle {
        transition: border-color 0.5s;
        padding: 14px 15px;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border: 2px solid @brand-primary;
        border-radius: 30px;
      }

      &:hover {
        .circle {
          border-color: white;
        }
      }
    }
  }
}
