@import '../../bower_components/bootstrap/less/bootstrap';

@brand-primary: #d6ac79;
@navbar-default-bg: transparent;
@navbar-default-link-color: @brand-primary;
@navbar-default-link-hover-color: white;
@navbar-default-link-active-color: #fff;
@navbar-padding-vertical: 15px;
@body-bg: black;
@navbar-height: 90px;
@modal-backdrop-opacity: 0.75;

@import 'animations';
@import 'sprh-bulb';
@import 'knob-component';
@import 'modal-component';

body {
  padding-top: @navbar-height;
  color: white;
}

.navbar.navbar-default {
  border: none;
  li {
    a {
      opacity: 0.7;
      transition: all 0.5s;
      font-size: 30px;
      .circle {
        text-align: center;
        transition: border-color 0.5s;
        padding: 14px 15px;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border: 2px solid @brand-primary;
        border-radius: 30px;

        &.circle-sm {
          width: 5rem;
          height: 5rem;
          font-size: 2.5rem;
          line-height: 2.5rem;
          border-radius: 2.5rem;
          padding: 1rem 0.5rem;
          margin-top: 4px;
        }
      }

      &:hover {
        opacity: 1;
        .circle {
          border-color: white;
        }
      }
    }
  }
}
