{{#modal-component hideActions=true close='close' class='spinner-modal'}}
  <div class="spinner">
    {{#if false}}
      <div class="percent">
        {{progress}}%
      </div>
    {{/if}}
  </div>
{{/modal-component}}
