{{#modal-component hideActions=true close='close'}}
  <div class="share-modal-content">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#" class='btn btn-facebook' {{action 'facebook'}}>Share</a>
      </li>
      <li class="list-group-item">
        <a href="#" class='btn btn-twitter' {{action 'twitter'}}>Tweet</a>
      </li>
      <li class="list-group-item">
        <a href="#" class='btn btn-email' {{action 'email'}}>Email</a>
      </li>
    </ul>
  </div>
{{/modal-component}}
