<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: {{fbAppId}},
      xfbml: true,
      version: 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{{outlet}}
{{outlet 'modal'}}
{{ember-notify messageStyle='bootstrap' closeAfter=8000}}

<a class="spartan-logo" href='http://spr.tn/juniperlp' target='_blank'>
  <img src="https://s3.amazonaws.com/sprh/bulbs/img/spartan-records-logo.png" alt="Spartan Records" />
</a>
