{{outlet}}

<nav>
<a href="#" id='share-btn' class='btn'>
  <i class='ion-android-share-alt'></i>
</a>
<a href="#" id='settings-btn' class='btn'>
  <i class='ion-ios-settings-strong'></i>
</a>
</nav>
