{{nav-component transport=transport}}

<div class="bulbs-wrapper container-fluid {{if transport.isPlaying 'is-playing'}}">
  {{#masonry-grid columnWidth='.grid-sizer'}}
    <div class="grid-sizer"></div>
    {{#each model as |stem|}}
      {{sprh-bulb stem=stem}}
    {{/each}}
  {{/masonry-grid}}
</div>
